*.iml
.gradle
**/build/
!src/**/build/
local.properties
.idea/
.DS_Store
captures/
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcuserdata/
*.hprof
.kotlin/
*.keystore
!debug.keystore

# Local secrets
local.properties
**/secrets.properties
